{% extends "base.html.twig" %}
{% block title %}Bienvenido a Geek
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}"/>
{% endblock %}
{% block body %}
    <h1>Mostrando Posts:index Frontend</h1>

{% endblock %}
